.filterCard {
  display: flex;
  flex-direction: row;
  padding: 0px 40px;

  .clearFilters {
    color: hsl(180, 29%, 50%);
    margin-left: auto;
    padding: 10px;
    align-self: center;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
