.filterCard {
  display: flex;
  flex-direction: row;
  padding: 0px 40px;

  .filterTagsList {
    // padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filterTag {
    // padding-right: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background-color: hsl(180, 52%, 96%);
    //   padding-left: 10px;
    border-radius: 5px;

    font-size: small;

    .tagName {
      color: hsl(180, 29%, 50%);
      padding: 0px 10px;
    }
    .deleteFilter {
      background-color: hsl(180, 29%, 50%);
      padding: 7px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      &:hover {
        background-color: black;
      }
    }
  }
  .clearFilters {
    color: hsl(180, 29%, 50%);
    margin-left: auto;
    padding: 10px;
    align-self: center;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
